
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}

.navbar a{
  font-weight:400;

}

/* .navbar-toggler{
 padding: 1px 5px;
 font-size: 1.2rem;
 line-height: 0.3;
 background-color: #aab626;btn
 
} */
/*Botón contacto menu*/
.btn-twt::before {
  content: 'Contacto';
  display: inline-block;
  border: 1px solid black;
  color: black;
  padding: 8px 41px;
  width: 160px;
  height: 40px;
  text-align: center;
  background: linear-gradient(to left, rgba(255,255,255,0) 50%, black 50%);
  background-size: 200% 100%;
  background-position:right bottom;
  vertical-align: middle;
  margin-left: 10px;
  transition:all 0.5s ease;
}
.btn-twt:hover::before {
  content: '999939008';
  color: white;
  text-align: center;
  background-position:left bottom;
  transition:all 0.5s ease;
}
/* }
section{
    height: 100vh;
    border-top: 1.5px solid #262626;
    background: cover;
}

.sec1{
    background: url(https://i.postimg.cc/cCsjd57p/image1.jpg);
    background-attachment: fixed;
}

.sec2{
    background: url(https://i.postimg.cc/C5N3DVLM/image2.jpg);
    background-attachment: fixed;
}

.sec3{
    background: url(https://i.postimg.cc/DZhpcYNS/image3.jpg);
    background-attachment: fixed;
}

.sec4{
    background: url(https://i.postimg.cc/59nKwgSt/image4.jpg);
    background-attachment: fixed; 
}

.sec5{
    background: url(https://i.postimg.cc/mDTV91cM/image5.jpg);
    background-attachment: fixed; 
} */

/*Opción de búsqueda del slide*/
.w-100-height{
height: 90vh;
width: 100%;
}
.carousel-item{
min-height: 300px;
}

.carousel-caption{
text-align: left;
margin-bottom: 200PX;
z-index: 2;
}

.carousel-caption h5{
  text-align: left;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 300;
  line-height: 60px;
  font-size: 60px;
  }

  .carousel-caption p{
    width: 60%;
    font-size: 16px;
    line-height: 1.9;
    text-align: left;
  }

  .carousel-item .carousel-caption input{
    padding: 0.73rem 1rem;
  }
  .carousel-inner::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top:0;
    left: 0;
    background: rgba(0, 0, 0, 0.527);
    z-index: 1;
  }

  .icon{
    font-size: 3.78rem;
    font-weight: 800;
    background: transparent;
    border: 1px solid #ffffff74;
    width: 70px;
    height: 70px;
    line-height: 1.0;
    border-radius: 50%;
  }

  @media only screen and (max-width:767px){
    .navbar-nav{
      text-align: center;
    }
    .carousel-caption h5{
      letter-spacing: 0;
      line-height: normal;
      font-size: 30px;
      }
      .carousel-caption p{
        padding: 10px 15px;
        font-size: 15px;
        }
        /* .carousel{
 display: none;
          } */
  }
 /*Fijar menu*/
 /* .l-header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #fff;
} */
    /*Menu con logo*/
    .nav{
        background-color: #fff;
    position: fixed;
    z-index: 100;
    width: 100%;
    /* height: 2.5rem;  */
    /* display: flex; */
    /* justify-content: space-between;
    align-items: center;     */
    }
    .nav .wrapper{
        position: relative;
        max-width: 1300px;
        padding: 0px 30px;
        height: 56px;
        line-height: 70px;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        }

        .wrapper .nav-links{
            display: inline-flex;
            }
            .nav-links li{
            list-style: none;
            }

    /* nav li{
        display: inline;
        font-family: tahoma;
        font-size: 1rem;
        list-style: none;
    } */

    .nav-links li a{
        padding: 10px 15px 10px 15px;
        text-decoration: none;
        color: #262626;
        
        transition: all 0.3s ease;
        }
   
    .nav-links li a:hover{
        color: #fefefe;
        background-color: #9CAA00;
        text-decoration: none;
       
    }
    
    .nav-links .active-link {
            color: #7b8600;
        }

        .nav-links li:hover .drop-menus{
        transition: all 0.3s ease;
        opacity: 1;
        visibility: visible;
        padding-left: 0px;
        }

        .nav-links .drop-menus{
            position: absolute;
            background: #fff;
            width: 240px;
            line-height: 45px;
            top: 42px;
            opacity: 0;
            visibility: hidden;
            /* box-shadow: 0 6px 10px rgba(0,0,0,0.15); */
            
        }
        .drop-menus li a{
            /* width: 100%; */
            display: block;
            padding: 0 25px 0 25px;
            font-weight: 400;
             /* border-radius: 0px; */
            }
/*WhatsApp*/
.wsp{
    /* padding-left: 93%;    */
    position: fixed;
    top: 74%;
    width: 52px;
    height: 52px;
    border-radius: 50%;
    background-color: #54cd04;
    margin-left: 90%;
    z-index: 10; /*indica sobre que caja va estar - funciona cuando position esta declarado*/
}

.wsp:hover{
    background-color: #71e821;
}

.wsp[data-descr]:hover::after{
  content: attr(data-descr);
  position: absolute;
  left: 0;
  top: 59px;
  border: 1.5px #ffffff solid;
  border-radius: 10px;
  background-color: #54cd04;
  padding: 8px;
  color: #ffffff;
  font-size: 13px;
  /* font-family: Arial, Helvetica, sans-serif; */
}

/*Imágen Principal con texto*/
.home {
    /* background-image: linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3)); */
    background-position: center center;
    background-size: cover;    
}
.home_container {
   height: calc(100vh - 3rem);
   align-content: center;
}
.home_data {
   /* text-align: left; */
   margin-left: 900px;
}
.home_title {
   font-size: 5.5rem;
   color: #000000;
   margin-bottom: .5rem;
}
.home_subtitle {
   font-size: 2rem;
   color: #fff;
   margin-bottom: 2rem;
}
/* Boton contacto*/
.custom-btn {
    width: 130px;
    height: 40px;
    color: #ffffff;
    /* border-radius: 5px; */
    padding: 10px 25px;
    /* font-family: 'Lato', sans-serif; */
    /* font-family: "Montserrat", sans-serif; */
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }
  .btn-3 {  background: #4d9c18;
background: linear-gradient(0deg, #4d9c18 0%, #aab626 100%);
  width: 130px;
  height: 40px;
  line-height: 42px;
  padding: 0;
  border: none;
  text-decoration: none;
  text-align: center;
}
.btn-3 span {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
}
.btn-3:before,
.btn-3:after {
  position: absolute;
  content: "";
  right: 0;
  top: 0;
   background: #ffffff;
  transition: all 0.3s ease;
}
.btn-3:before {
  height: 0%;
  width: 2px;
}
.btn-3:after {
  width: 0%;
  height: 2px;
}
.btn-3:hover{
   background: transparent;
  box-shadow: none;
}
.btn-3:hover:before {
  height: 100%;
}
.btn-3:hover:after {
  width: 100%;
}
.btn-3 span:hover{
   color: #ffffff;
}
.btn-3 span:before,
.btn-3 span:after {
  position: absolute;
  content: "";
  left: 0;
  bottom: 0;
   background: #ffffff;
  transition: all 0.3s ease;
}
.btn-3 span:before {
  width: 2px;
  height: 0%;
}
.btn-3 span:after {
  width: 0%;
  height: 2px;
}
.btn-3 span:hover:before {
  height: 100%;
}
.btn-3 span:hover:after {
  width: 100%;
}

/* Button Styles */

.button {
  display: inline-flex;
  height: 40px;
  width: 150px;
  border: 2px solid #54cd04;
  margin: 20px 20px 20px 20px;
  color: #54cd04;
  text-transform: uppercase;
  text-decoration: none;
  font-size: .9em;
  letter-spacing: 1.5px;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.a {
  color: #54cd04;
  text-decoration: none;
  letter-spacing: 1px;
}

/* Second Button */

#button-2 {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

#button-2 a {
  position: relative;
  transition: all .35s ease-Out;
}

#slide {
  width: 100%;
  height: 100%;
  left: -200px;
  background: #54cd04;
  position: absolute;
  transition: all .35s ease-Out;
  bottom: 0;
}

#button-2:hover #slide {
  left: 0;
}

#button-2:hover a {
  color: #fff;
}

/*Botón general*/ 
.explorar{
    /* display: inline-block; */
    background-color: #4d9c18;
    color: #fff;
    height: 45px;
    width: 130px;
    /* border-radius: .1rem; */
    transition: .3s;
    /* text-decoration: none; */
    cursor: pointer;
    font-size: 1.1rem;
    overflow: hidden;
}
.explorar:hover {
    background-color: #71e821;
}


        /* footer */
        #footer{
            width: 100%;
            display: flex;
            color: white;
            background-color: #233000;
            /* font-family: Arial, Helvetica, sans-serif; */
        }
        .x,.y{
            width: 25%;
        }
        .art-footer{
            text-align: justify;
            padding: 40px;
            
        }
        .txt-footer{
            padding-top: 36px;
            text-align: center;
            font-size: 40px;
        }
        .z{
            width: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .inputfooter::placeholder{
            color: #ffffff;
        }
        /* Permite dar hover al placeholder*/
        .inputfoot:hover::placeholder {
            color: #050505;
        }
        .inputfooter:hover{
            background-color: #ffffff;
            color: #050505;
            cursor: pointer;
        }

        .inputfooter{
            color: white;
            background-color: #233000;
            border-radius: .1rem;
            border: 1px solid white;
            width: 260px;
            height: 38px;
            padding-left: 15px;
            font-size: 12px;
            
        }
/*banner*/
/* .body {
  margin: 0;
  min-height: 100vh;
  background: #000;
  font-family: sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10vmin;
  overflow: hidden;
  transform: skew(5deg);

  .card {
    flex: 1;
    transition: all 1s ease-in-out;
    height: 75vmin;
    position: relative;
    .card__head {
      color: black;
      background: rgba(255, 30, 173, 0.75);
      padding: 0.5em;
      transform: rotate(-90deg);
      transform-origin: 0% 0%;
      transition: all 0.5s ease-in-out;
      min-width: 100%;
      text-align: center;
      position: absolute;
      bottom: 0;
      left: 0;
      font-size: 1em;
      white-space: nowrap;
    }

    &:hover {
      flex-grow: 10;
      img {
        filter: grayscale(0);
      }
      .card__head {
        text-align: center;
        top: calc(100% - 2em);
        color: white;
        background: rgba(0, 0, 0, 0.5);
        font-size: 2em;
        transform: rotate(0deg) skew(-5deg);
      }
    }
    .img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      transition: all 1s ease-in-out;
      filter: grayscale(100%);
    }
    &:not(:nth-child(5)) {
      margin-right: 1em;
    }
  }
} */

/*Footer Bootstrap*/
.bg-footer{
  background-color: #000000;
  padding: 40px 0px 30px;
}

.bg-footer a{
 text-decoration: none;
 color: #fefefe;
}